[Unit]
Description=AutopostPro Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/autopostpro
ExecStart=/bin/bash /root/autopostpro/start.sh
Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitInterval=60
User=root
Environment="PYTHONUNBUFFERED=1"
Environment="TZ=Asia/Jakarta"

[Install]
WantedBy=multi-user.target
